$primary: #425cc7;
$primary_dark: #011e41;
$background: #eaeef2;
$white: #fff;
$text: #353440;
$text_light: #fefefe;
$gray: #d4d4d4;
$box_shadow: #00000029;
$green: #00cb33;
$header: #1b324e;
$dashboard_background: #eaeef2;
$sidebar_child: #284467;
$sidebar_child_hover: #4d6a8d;
$sofia_sidebar_background: #d8e1eb;
$sofia_sidebar_content: #eef2f6;
$sofia_sidebar_border: #e0e6f3;
$table_even: #fbfbfb;
$vehicles_header: #d8dee5;
$danger: #e7004c;
$success: #4fc763;
$caution: #f7a339;